@media (max-width: 850px) {
  :root {
    --bg-color: #f0f2f5;
    --text-color: #333333;
    --primary-color: #2e2a61;
    --secondary-color: #ffffff;
    --hover-color: #3a5ed5;
    --shadow-color: rgba(0, 0, 0, 0.1);
  }

  .dark-mode {
    --bg-color: #1a1a1a;
    --text-color: #ffffff;
    --primary-color: #3a7bd5;
    --secondary-color: #2c2c2c;
    --hover-color: #4a90e2;
    --shadow-color: rgba(255, 255, 255, 0.1);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }

  .container {
    display: flex;
    min-height: 100vh;
  }

  main {
    flex-grow: 1;
    padding: 0 !important;
    padding-bottom: 80px !important;
    background: url("../img/bg.jpg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important ;
    background-size: cover !important;
  }

  .playlist {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }

  .song {
    display: flex;
    align-items: center;
    color: white;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-left: 5px;
    padding-right: 5px;
    background: rgba(1, 18, 74, 0.744);
    box-shadow: 2px 2px 5px rgba(158, 105, 255, 0.507) inset,
      -2px -2px 5px rgba(91, 180, 253, 0.507) inset;
    width: fit-content;
    border-radius: 5px;
    transition: all 120ms ease-in;
    cursor: pointer;

    &:hover {
      box-shadow: 5px 5px 7px rgba(105, 255, 218, 0.329) inset,
        -5px -5px 7px rgba(25, 255, 255, 0.479) inset;
      transform: translateY(-5px);
    }
  }

  .song img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    object-fit: cover;
  }

  .song-info {
    padding: 12px !important;
  }

  .song-title {
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-size: 12px;
  }

  .song-artist {
    font-size: 10px;
    color: white;
    opacity: 0.8;
    text-transform: capitalize;
  }

  .music-controller {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    color: white;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 10px rgba(158, 105, 255, 0.726) inset,
      -5px -5px 10px rgba(91, 180, 253, 0.733) inset;
    background: rgb(1, 18, 74);
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .music-info {
    display: flex;
    align-items: center;
  }

  .music-info img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 3px;
    margin-right: 5px !important;
  }

  .music-details {
    display: flex;
    flex-direction: column;
  }

  .music-title {
    font-weight: 600;
    font-size: 12px;
    text-transform: capitalize;
  }

  .music-artist {
    font-size: 0.9em;
    opacity: 0.8;
    text-transform: capitalize;
    font-size: 9px;
  }

  .music-controls {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    margin: 0 20px;
  }

  .music-controls button {
    background: none;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
    margin: 0 5px;
    transition: color 0.3s, transform 0.3s;
  }

  .music-controls button:hover {
    color: blueviolet;
    transform: scale(1.1);
  }

  .progress-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    max-width: 400px;
  }

  .progress-bar {
    flex-grow: 1;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 0 5px;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
  }

  .progress {
    height: 100%;
    background-color: blueviolet;
    width: 0%;
    border-radius: 5px;
    position: relative;
  }

  .progress::after {
    content: "";
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
  }

  .time {
    font-size: 0.7em;
    min-width: 45px;
  }

  .mode-toggle {
    background-color: blueviolet;
    border: none;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }

  .mode-toggle:hover {
    background-color: var(--hover-color);
    transform: scale(1.1);
  }
}

@media (max-width: 620px) {
  :root {
    --bg-color: #f0f2f5;
    --text-color: #333333;
    --primary-color: #2e2a61;
    --secondary-color: #ffffff;
    --hover-color: #3a5ed5;
    --shadow-color: rgba(0, 0, 0, 0.1);
  }

  .dark-mode {
    --bg-color: #1a1a1a;
    --text-color: #ffffff;
    --primary-color: #3a7bd5;
    --secondary-color: #2c2c2c;
    --hover-color: #4a90e2;
    --shadow-color: rgba(255, 255, 255, 0.1);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }

  .container {
    display: flex;
    min-height: 100vh;
  }

  main {
    flex-grow: 1;
    padding: 0 !important;
    padding-bottom: 80px !important;
    background: url("../img/bg.jpg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important ;
    background-size: cover !important;
  }

  .playlist {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }

  .song {
    display: flex;
    align-items: center;
    color: white;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-left: 5px;
    padding-right: 5px;
    background: rgba(1, 18, 74, 0.744);
    box-shadow: 2px 2px 5px rgba(158, 105, 255, 0.507) inset,
      -2px -2px 5px rgba(91, 180, 253, 0.507) inset;
    width: fit-content;
    border-radius: 5px;
    transition: all 120ms ease-in;
    cursor: pointer;

    &:hover {
      box-shadow: 5px 5px 7px rgba(105, 255, 218, 0.329) inset,
        -5px -5px 7px rgba(25, 255, 255, 0.479) inset;
      transform: translateY(-5px);
    }
  }

  .song img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    object-fit: cover;
  }

  .song-info {
    padding: 12px !important;
  }

  .song-title {
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-size: 12px;
  }

  .song-artist {
    font-size: 10px;
    color: white;
    opacity: 0.8;
    text-transform: capitalize;
  }

  .music-controller {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    color: white;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 10px rgba(158, 105, 255, 0.726) inset,
      -5px -5px 10px rgba(91, 180, 253, 0.733) inset;
    background: rgb(1, 18, 74);
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .music-info {
    display: flex;
    align-items: center;
  }

  .music-info img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 3px;
    margin-right: 5px !important;
  }

  .music-details {
    display: flex;
    flex-direction: column;
  }

  .music-title {
    font-weight: 600;
    font-size: 9px;
    text-transform: capitalize;
  }

  .music-artist {
    font-size: 0.6em;
    opacity: 0.8;
    text-transform: capitalize;
    font-size: 9px;
  }

  .music-controls {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    margin: 0 20px;
  }

  .music-controls button {
    background: none;
    border: none;
    color: white;
    font-size: 0.7em;
    cursor: pointer;
    margin: 0 10px;
    transition: color 0.3s, transform 0.3s;
  }

  .music-controls button:hover {
    color: blueviolet;
    transform: scale(1.1);
  }

  .progress-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    max-width: 400px;
  }

  .progress-bar {
    flex-grow: 1;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 0 5px;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
  }

  .progress {
    height: 100%;
    background-color: blueviolet;
    width: 0%;
    border-radius: 5px;
    position: relative;
  }

  .progress::after {
    content: "";
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
  }

  .time {
    font-size: 0.5em;
    min-width: 45px;
  }

  .mode-toggle {
    background-color: blueviolet;
    border: none;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }

  .mode-toggle:hover {
    background-color: var(--hover-color);
    transform: scale(1.1);
  }
}

@media (max-width: 532px) {
  :root {
    --bg-color: #f0f2f5;
    --text-color: #333333;
    --primary-color: #2e2a61;
    --secondary-color: #ffffff;
    --hover-color: #3a5ed5;
    --shadow-color: rgba(0, 0, 0, 0.1);
  }

  .dark-mode {
    --bg-color: #1a1a1a;
    --text-color: #ffffff;
    --primary-color: #3a7bd5;
    --secondary-color: #2c2c2c;
    --hover-color: #4a90e2;
    --shadow-color: rgba(255, 255, 255, 0.1);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }

  .container {
    display: flex;
    min-height: 100vh;
  }

  main {
    flex-grow: 1;
    padding: 0 !important;
    padding-bottom: 80px !important;
    background: url("../img/bg.jpg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important ;
    background-size: cover !important;
  }

  .playlist {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
  }

  .song {
    display: flex;
    align-items: center;
    color: white;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-left: 5px;
    padding-right: 5px;
    background: rgba(1, 18, 74, 0.744);
    box-shadow: 2px 2px 5px rgba(158, 105, 255, 0.507) inset,
      -2px -2px 5px rgba(91, 180, 253, 0.507) inset;
    width: fit-content;
    border-radius: 5px;
    transition: all 120ms ease-in;
    cursor: pointer;

    &:hover {
      box-shadow: 5px 5px 7px rgba(105, 255, 218, 0.329) inset,
        -5px -5px 7px rgba(25, 255, 255, 0.479) inset;
      transform: translateY(-5px);
    }
  }

  .song img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    object-fit: cover;
  }

  .song-info {
    padding: 12px !important;
  }

  .song-title {
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-size: 12px;
  }

  .song-artist {
    font-size: 10px;
    color: white;
    opacity: 0.8;
    text-transform: capitalize;
  }

  .music-controller {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    color: white;
    padding: 12px 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: center;
    gap: 20px;

    box-shadow: 5px 5px 10px rgba(158, 105, 255, 0.726) inset,
      -5px -5px 10px rgba(91, 180, 253, 0.733) inset;
    background: rgb(1, 18, 74);
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .music-info {
    display: flex;
    align-items: center;
  }

  .music-info img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 3px;
    margin-right: 5px !important;
  }

  .music-details {
    display: flex;
    flex-direction: column;
  }

  .music-title {
    font-weight: 600;
    font-size: 13px;
    text-transform: capitalize;
  }

  .music-artist {
    font-size: 0.8rem !important;
    opacity: 0.8;
    text-transform: capitalize;
    font-size: 9px;
  }

  .music-controls {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    margin: 0 20px;
  }

  .music-controls button {
    background: none;
    border: none;
    color: white;
    font-size: 0.9em;
    cursor: pointer;
    margin: 0 10px;
    transition: color 0.3s, transform 0.3s;
  }

  .music-controls button:hover {
    color: blueviolet;
    transform: scale(1.1);
  }

  .progress-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    max-width: 400px;
  }

  .progress-bar {
    flex-grow: 1;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 0 5px;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
  }

  .progress {
    height: 100%;
    background-color: blueviolet;
    width: 0%;
    border-radius: 5px;
    position: relative;
  }

  .progress::after {
    content: "";
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
  }

  .time {
    font-size: 0.8em;
    min-width: 45px;
  }

  .mode-toggle {
    background-color: blueviolet;
    border: none;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }

  .mode-toggle:hover {
    background-color: var(--hover-color);
    transform: scale(1.1);
  }
}

@media (max-width: 405px) {
  :root {
    --bg-color: #f0f2f5;
    --text-color: #333333;
    --primary-color: #2e2a61;
    --secondary-color: #ffffff;
    --hover-color: #3a5ed5;
    --shadow-color: rgba(0, 0, 0, 0.1);
  }

  .dark-mode {
    --bg-color: #1a1a1a;
    --text-color: #ffffff;
    --primary-color: #3a7bd5;
    --secondary-color: #2c2c2c;
    --hover-color: #4a90e2;
    --shadow-color: rgba(255, 255, 255, 0.1);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }

  .container {
    display: flex;
    min-height: 100vh;
  }

  main {
    flex-grow: 1;
    padding: 0 !important;
    padding-bottom: 80px !important;
    background: url("../img/bg.jpg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important ;
    background-size: cover !important;
  }

  .playlist {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
  }

  .song {
    display: flex;
    align-items: center;
    color: white;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 15px;
    padding-right: 15px;
    background: rgba(1, 18, 74, 0.744);
    box-shadow: 2px 2px 5px rgba(158, 105, 255, 0.507) inset,
      -2px -2px 5px rgba(91, 180, 253, 0.507) inset;
    width: fit-content;
    border-radius: 15px;
    transition: all 120ms ease-in;
    cursor: pointer;

    &:hover {
      box-shadow: 5px 5px 7px rgba(105, 255, 218, 0.329) inset,
        -5px -5px 7px rgba(25, 255, 255, 0.479) inset;
      transform: translateY(-5px);
    }
  }

  .song img {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    object-fit: cover;
  }

  .song-info {
    padding: 14px !important;
  }

  .song-title {
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-size: 14px;
  }

  .song-artist {
    font-size: 12px;
    color: white;
    opacity: 0.8;
    text-transform: capitalize;
  }

  .music-controller {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    color: white;
    padding: 12px 20px;
    display: block !important;
    
    

    box-shadow: 5px 5px 10px rgba(158, 105, 255, 0.726) inset,
      -5px -5px 10px rgba(91, 180, 253, 0.733) inset;
    background: rgb(1, 18, 74);
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .music-info {
    display: flex;
    align-items: center;
  }

  .music-info img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 3px;
    margin-right: 5px !important;
  }

  .music-details {
    display: flex;
    flex-direction: column;
  }

  .music-title {
    font-weight: 600;
    font-size: 13px;
    text-transform: capitalize;
  }

  .music-artist {
    font-size: 0.8rem !important;
    opacity: 0.8;
    text-transform: capitalize;
    font-size: 9px;
  }

  .music-controls {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    margin: 0 20px;
    padding-top: 20px;
    padding-bottom: 5px;
  }

  .music-controls button {
    background: none;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
    margin: 0 10px;
    transition: color 0.3s, transform 0.3s;
  }

  .music-controls button:hover {
    color: blueviolet;
    transform: scale(1.1);
  }

  .progress-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    max-width: 400px;
  }

  .progress-bar {
    flex-grow: 1;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 0 5px;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
  }

  .progress {
    height: 100%;
    background-color: blueviolet;
    width: 0%;
    border-radius: 5px;
    position: relative;
  }

  .progress::after {
    content: "";
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
  }

  .time {
    font-size: 0.8em;
    min-width: 45px;
  }

  .mode-toggle {
    background-color: blueviolet;
    border: none;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }

  .mode-toggle:hover {
    background-color: var(--hover-color);
    transform: scale(1.1);
  }
}
